@model IEnumerable<AuctionSite.Models.ListingViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>User Listings</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.listingName)</th>
            <th>@Html.DisplayNameFor(model => model.listItemCondition)</th>
            <th>@Html.DisplayNameFor(model => model.isShipping)</th>
            <th>@Html.DisplayNameFor(model => model.listingBuyOutPrice)</th>
            <th>@Html.DisplayNameFor(model => model.lisingStartingPrice)</th>
            <th>@Html.DisplayNameFor(model => model.listingPostDate)</th>
            <th>@Html.DisplayNameFor(model => model.listingEndDate)</th>
            <th>@Html.DisplayNameFor(model => model.listingDescription)</th>
            <th>@Html.DisplayNameFor(model => model.listingCategory)</th>
            <th>@Html.DisplayNameFor(model => model.listingImageURL)</th>
            <th>Buying/Bidding Options</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.listingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.listItemCondition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isShipping)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.listingBuyOutPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lisingStartingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.listingPostDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.listingEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.listingDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.listingCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.listingImageURL)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.listingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.listingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.listingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
